.wrapper {
  width: 100%;
  margin: 2.5px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  outline: solid gray 1px;
}

.username {
  padding: 5px;
  font-weight: bold;
}

.content,
.username {
  padding: 5px;
}

.content {
  white-space: pre-wrap;
}

.buttonDiv {
  width: 100%;
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
}

.avatar{
  width: 25px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 5px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5px;
}