.wrapper{
  width: 100%;
  margin: 2.5px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  outline: solid gray 1px;
}

.userDiv {
  padding-bottom: 10px;
}

.username {
  padding: 5px;
  font-weight: bold;
}

/* .wrapper * {
  outline: dashed red 1px;
} */

.content, .username{
  padding: 5px;
}

.buttonDiv {
  width: 100%;
  margin: 10px 5px;
  display: flex;
  justify-content: space-around;
}